<div id="HeaderContainer">
    <div id="RemainingDiv">
        <span id="Remaining">99</span>
    </div>
    <input type="button" value="New Game" id="Start" />
    <div id="TimeDiv">
        <span id="Time">000</span>
    </div>
</div>
<div id="Container"></div>
<div id="HighScores">
    <h2>High Scores</h2>
    <ul id="LeftSideHighScores" class="highScoreList">
        <li>
            1. John 158 
        </li>
        <li>
            2. Amos 167
        </li>
        <li>
            3. Ethan 178
        </li>
        <li>
            4. Meredith 198
        </li>
        <li>
            5. Creed 201
        </li>
    </ul>
    <ul id="RightSideHighScores" class="highScoreList">
        <li>
            6. Bob 205
        </li>
        <li>
            7. Stanley 221
        </li>
        <li>
            8. Roger 230
        </li>
        <li>
            9. Mark 245
        </li>
        <li>
            10. Michael 321
        </li>
    </ulLeftSideHighScores>
</div>