<div id="HeaderContainer">
    <div id="RemainingDiv">
        <span id="Remaining">99</span>
    </div>
    <input type="button" value="New Game" id="Start" />
    <div id="TimeDiv">
        <span id="Time">000</span>
    </div>
</div>
<div id="Container"></div>